solve*
!solve*.*
day*
!day*/
!day*.*
day*.mp4
.vs/
bin/
obj/
Debug/
*_Debug/
Release/
xcuserdata/
build/
debug/
target/
cmake-build-*/
*.o
*.d
*.obj
*.bak
*.map
*.pdb
*.ilk
*.user
*.DSYM
*.plg
*.ncb
*.opt
*.exe
*.swp
*.core
~$*
_built
